next10words/.ipynb_checkpoints/ollama_next10words-checkpoint.ipynb
Bias/.ipynb_checkpoints/huggingface_Bias-checkpoint.ipynb
Chatbot/advanvced/.ipynb_checkpoints/huggingface_chatbot_advanced-checkpoint.ipynb
Chatbot/advanvced/.ipynb_checkpoints/ollama_Chatbot_advanced_2.0-checkpoint.ipynb
embeddings/.ipynb_checkpoints/huggingface_embeddings_sentence-transformers_grossesModell_0.1-checkpoint.ipynb
embeddings/.ipynb_checkpoints/huggingface_embeddings_sentence-transformers_kleinesModell_0.1-checkpoint.ipynb
next10words/.ipynb_checkpoints/huggingface_Mask_filling-checkpoint.ipynb
next10words/.ipynb_checkpoints/huggingface_text_generation-checkpoint.ipynb
Textzusammenfassung/.ipynb_checkpoints/huggingface_summerization-checkpoint.ipynb
